@media only screen and (max-width: 1080px) {
  .grid-container {
    height: 700px;
    grid-template: repeat(3, 200px) / repeat(3, 200px);
  }
}

@media only screen and (max-width: 825px) {
  .grid-container {
    height: 700px;
    grid-template: repeat(3, 200px) / repeat(3, 100px);
  }
  .grid-container div {
    height: 100px;
    width: 100px;
  }
}

@media only screen and (max-width: 575px) {
  h1 {
    font-size: x-large;
  }
  aside {
    font-size: x-small;
  }

  .grid-container {
    height: 700px;
    grid-template: repeat(4, 100px) / repeat(2, 100px);
  }
}