/******************************UNIVERSAL******************************/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Oxygen, Helvetica, sans-serif;
  font-weight: 300;
  text-align: center;
  background-color: hsl(240, 75%, 5%);
  color: azure;
}

html, body {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: xx-large;
  margin-top: 25px;
  margin-bottom: 35px;
  text-decoration: underline;
}

h2 {
  margin-top: 40px;
  margin-bottom: 10px;
}

h3 {
  margin-top: 15px;
  margin-bottom: 5px;
  color: hsla(180, 100%, 97%, 70%);
}

h4 {
  background-color: transparent;
  color: slateblue;
  text-align: left;
  font-size: xx-large;
}

aside {
  margin-bottom: 5px;
  font-style: italic;
  color: hsla(180, 100%, 97%, 60%);
  font-size: small;
}
/******************************GRID STYLING******************************/
.grid-container {
  height: 500px;
  width: 75%;
  background-color: cornflowerblue;
  margin: 0 auto;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  align-items: center;
  justify-items: center;
}

.grid-container div {
  height: 150px;
  width: 150px;
  background-color: hsl(320, 60%, 40%);
}