/* Universal selectors */
* {
  font-family: sans-serif;
}

/* Type selector */
h1 { 
  background-color: aliceblue;
}

/* Class selectors */
.grey {
  color: rgb(136, 136, 136);
}

.reddish {
 background-color: rgb(175, 78, 61);
}

/* ID selector */
#example {
  font-family: cursive;
}