/* Ex: Universal selectors */
* {
  font-family: sans-serif;
}

/* Ex: Type selector */
h1 { 
  background-color: aliceblue;
}

/* Ex: Class selectors */
.grey {
  color: rgb(136, 136, 136);
}

.reddish {
 background-color: rgb(175, 78, 61);
}

/* Ex: ID selector */
#example {
  font-family: cursive;
}

/* Ex: Attribute selectors */
[src] {
  width: 300px;
}

img[src*="1687530"] {
  width: 300px;
}

/* Ex: Pseudo-class selector */
img[src*="1687530"]:hover {
  width: 500px;
}

/* Ex: Specificity */
p { /* This is least specific */
  color: slategray;
}

.paras { /* This is more specific than 'p' */
  color: rgb(146, 146, 21);
}

#pinkish { /* This is more specific than 'paras' */
  color: palevioletred
}

/* Ex: Chaining */
p.paras {
  background-color: rgb(85, 85, 85);
}

/* Ex: Descendant combinator */
#big p {
  background-color: black;
  color: aliceblue;
}