/* Ex: Universal selectors */
* {
  font-family: sans-serif;
}

/* Ex: Use of a background image */
body {
  background-image: url('https://images.pexels.com/photos/689451/pexels-photo-689451.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

/* Ex: Type selector */
h1 { 
  background-color: aliceblue;
  font-weight: thin;
  text-align: center;
}

li {
  list-style: square;
}

/* Ex: Class selectors */
.grey {
  color: rgb(136, 136, 136);
}

.reddish {
 background-color: rgb(175, 78, 61);
}

/* Ex: ID selector */
#example {
  font-family: cursive;
  font-size: xx-large;
}

/* Ex: Attribute selectors */
[src] {
  width: 300px;
}

img[src*="1687530"] {
  width: 300px;
}

/* Ex: Pseudo-class selector */
img[src*="1687530"]:hover {
  width: 500px;
}

/* Ex: Specificity */
p { /* This is least specific */
  color: slategray;
}

.paras { /* This is more specific than 'p' */
  color: rgb(146, 146, 21) !important; 
}

#pinkish { /* This is more specific than 'paras' */
  color: palevioletred
}

/* Ex: Chaining */
p.paras {
  background-color: rgb(85, 85, 85);
}

/* Ex: Descendant combinator */
#big p {
  background-color: black;
  color: aliceblue;
  opacity: 50%;
}

/* Ex: Additional specificity */
h4 {
  color: red;
  font-weight: 900; 
}

#big h4 {
  color: blue;
}

/* Ex: Multiple selectors */
p, h1 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}