/* UNIVERSAL */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Oxygen, Helvetica, sans-serif;
  font-weight: 300;
  background-color: hsl(240, 75%, 5%);
}

/* FORMATS */
html, body {
  height: 100%;
  width: 100%;
}

h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
  color: hsl(195, 53%, 85%);
}

/* BREADCRUMB */
.container {
  background-color: lightgrey;
  height: 450px;
  width: 450px;
  display: flex;
  margin: 0 auto;
  background-color: cornflowerblue;
}

.box {
  height: 50px;
  width: 50px;
  margin: 1px;
  background-color: hsl(240, 40%, 50%);
}

article:nth-child(1) .container{
  justify-content: flex-start;
}

article:nth-child(2) .container{
  justify-content: center;
}

article:nth-child(3) .container{
  justify-content: flex-end;
}

article:nth-child(4) .container{
  justify-content: space-around;
}

article:nth-child(5) .container{
  justify-content: space-between;
}

article:nth-child(6) .container{
  justify-content: space-evenly;
}