/******************************UNIVERSAL******************************/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Oxygen, Helvetica, sans-serif;
  font-weight: 300;
  text-align: center;
  background-color: hsl(240, 75%, 5%);
}

/******************************FORMATS******************************/
html, body {
  height: 100%;
  width: 100%;
}

h1 {
  margin-top: 50px;
  margin-bottom: 10px;
  color: hsl(195, 53%, 85%);
}

hr {
  color: aliceblue;
  width: 60%;
  margin: 85px auto 0px auto;
}

aside {
  color: hsla(208, 100%, 97%, 50%);
  padding-bottom: 10px;
  width: 800px;
  text-align: justify;
  margin: 0 auto;
}

/* BREADCRUMB */
.container {
  background-color: lightgrey;
  height: 450px;
  width: 450px;
  display: flex;
  margin: 0 auto;
  background-color: cornflowerblue;
}

.box {
  height: 50px;
  width: 50px;
  background-color: hsl(240, 40%, 50%);
  border: 3px dashed lightskyblue;
  flex-shrink: 0;
}

article:nth-child(1) .container{
  justify-content: flex-start;
}

article:nth-child(2) .container{
  justify-content: center;
}

article:nth-child(3) .container{
  justify-content: flex-end;
}

article:nth-child(4) .container{
  justify-content: space-around;
}

article:nth-child(5) .container{
  justify-content: space-between;
}

article:nth-child(6) .container{
  justify-content: space-evenly;
}


/******************************ALIGN ITEMS******************************/

article:nth-child(8) .container{
  justify-content: space-evenly;
  align-items: flex-start;
}

article:nth-child(9) .container{
  justify-content: space-evenly;
  align-items: center;
}

article:nth-child(10) .container{
  justify-content: space-evenly;
  align-items: flex-end;
}

article:nth-child(11) .container .box:nth-child(4) {
  height: 100px;
}
article:nth-child(11) .container{
  justify-content: space-evenly;
  align-items: baseline;
}

.box-stretch {
  width: 50px;
  background-color: hsl(240, 40%, 50%);
  border: 3px dashed lightskyblue;
}
article:nth-child(12) .container {
  justify-content: space-evenly;
  align-items: stretch;
}

/******************************FLEX GROW******************************/

article:nth-child(14) > .container {
  width: 60%;
  height: 100px;
  justify-content: space-evenly;
  align-items: center;
}

article:nth-child(14) .box {
  padding-top: 10px;
  color:aqua;
  margin: 10px;
}

article:nth-child(14) .box:nth-child(4) {
  flex-grow: 2;
}

article:nth-child(14) .box:nth-child(1),
article:nth-child(14) .box:nth-child(7) {
  flex-grow: 1;
}

/******************************FLEX SHRINK******************************/
article:nth-child(16) > .container {
  width: 60%;
  height: 100px;
  justify-content: space-evenly;
  align-items: center;
}

article:nth-child(16) .box {
  padding-top: 10px;
  color:aqua;
  margin: 10px;
}

article:nth-child(16) .box:nth-child(4) {
  width: 100px;
  flex-shrink: 2;
}

article:nth-child(16) .box:nth-child(1),
article:nth-child(16) .box:nth-child(7) {
  width: 100px;
  flex-shrink: 1;
}

/******************************FLEX BASIS******************************/
article:nth-child(18) > .container {
  width: 60%;
  height: 100px;
  justify-content: space-evenly;
  align-items: center;
}

article:nth-child(18) .box {
  padding-top: 10px;
  color:aqua;
  margin: 10px;
  flex-basis: 75px;
}

article:nth-child(18) .box:nth-child(4) {
  flex-grow: 2;
  flex-shrink: 2;
}

article:nth-child(18) .box:nth-child(1),
article:nth-child(18) .box:nth-child(7) {
  flex-grow: 1;
  flex-shrink: 1;
}

/******************************FLEX******************************/
article:nth-child(20) > .container {
  width: 60%;
  height: 100px;
  justify-content: space-evenly;
  align-items: center;
}

article:nth-child(20) .box {
  padding-top: 10px;
  color:aqua;
  margin: 10px;
  text-align: center;
}

article:nth-child(20) .box:nth-child(4) {
  flex: 2 2 50px;
}

article:nth-child(20) .box:nth-child(1),
article:nth-child(20) .box:nth-child(7) {
  flex: 1 1 5px;
}

/******************************FLEX-WRAP******************************/
article:nth-child(22) > .container,
article:nth-child(23) > .container,
article:nth-child(24) > .container {
  width: 60%;
  height: fit-content;
  justify-content: space-evenly;
  align-items: center;
}

article:nth-child(22) .box,
article:nth-child(23) .box,
article:nth-child(24) .box {
  padding-top: 25px;
  color:aqua;
  margin: 10px;
  text-align: center;
  height: 75px;
  width: 75px;
}

article:nth-child(22) .container {
  flex-wrap: wrap;
}

article:nth-child(23) .container {
  flex-wrap: wrap-reverse;
}

article:nth-child(24) .container {
  flex-wrap: nowrap;
}
/******************************ALIGN-CONTENT******************************/
article:nth-child(26) > .container,
article:nth-child(27) > .container,
article:nth-child(28) > .container,
article:nth-child(29) > .container,
article:nth-child(30) > .container,
article:nth-child(31) > .container,
article:nth-child(32) > .container {
  width: 500px;
  height: 500px;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

article:nth-child(26) .box,
article:nth-child(27) .box,
article:nth-child(28) .box,
article:nth-child(29) .box,
article:nth-child(30) .box,
article:nth-child(31) .box,
article:nth-child(32) .box {
  padding-top: 25px;
  color:aqua;
  margin: 10px;
  text-align: center;
  height: 75px;
  width: 75px;
}

article:nth-child(26) .container {
  align-content: flex-start;
}

article:nth-child(27) .container {
  align-content: center;
}

article:nth-child(28) .container {
  align-content: flex-end;
}

article:nth-child(29) .container {
  align-content: space-between;
}

article:nth-child(30) .container {
  align-content: space-around;
}

article:nth-child(31) .container {
  align-content: space-evenly;
}

article:nth-child(32) .box {
  min-height: 50px;
}
article:nth-child(32) .container {
  align-content: stretch;
  background-color: maroon;
}

/******************************FLEX-DIRECTION******************************/
article:nth-child(34) > .container,
article:nth-child(35) > .container,
article:nth-child(36) > .container,
article:nth-child(37) > .container {
  width: 60%;
  height: fit-content;
  justify-content: space-evenly;
  align-items: center;
}

article:nth-child(34) .box,
article:nth-child(35) .box,
article:nth-child(36) .box,
article:nth-child(37) .box {
  padding-top: 25px;
  color:aqua;
  margin: 10px;
  text-align: center;
  height: 75px;
  width: 75px;
}

article:nth-child(34) > .container {
  flex-direction: row;
}

article:nth-child(35) > .container {
  flex-direction: row-reverse;
}

article:nth-child(36) > .container {
  flex-direction: column;
}

article:nth-child(37) > .container {
  flex-direction: column-reverse;
}
/******************************FLEX-FLOW******************************/

article:nth-child(39) > .container {
  width: 500px;
  height: 500px;
  justify-content: space-evenly;
  align-items: center;
}

article:nth-child(39) .box {
  padding-top: 25px;
  color:aqua;
  margin: 10px;
  text-align: center;
  height: 75px;
  width: 75px;
}

article:nth-child(39) .container {
  flex-flow: column-reverse wrap-reverse;
}
/******************************NESTED FLEX BOXES******************************/
article:nth-child(41) {
  margin-bottom: 50px;
}

article:nth-child(41) > .container {
  width: 900px;
  height: 500px;
  justify-content: space-evenly;
  align-items: center;
}

article:nth-child(41) > .container > section {
  display: flex;
  height: 250px;
  width: 250px;
  justify-content: space-evenly;
  align-items: center;
}