/* UNIVERSAL */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

/* FORMATS */
html, body {
  height: 100%;
  width: 100%;
}

h1 {
  text-align: center;
  margin: 10px;
}

/* BREADCRUMB */
.container {
  background-color: lightgrey;
  height: 150px;
  width: 90%;
  display: flex;
  margin: 0 auto;
}

.box {
  height: 100px;
  width: 100px;
  background-color: hsl(0, 0%, 35%);
  border: 1px dotted white;
}

article:nth-child(1) .container{
  justify-content: flex-start;
}

article:nth-child(2) .container{
  justify-content: center;
}