/* UNIVERSAL */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* FORMATS */
html, body {
  height: 100%;
  width: 100%;
}

/* BREADCRUMB */
.breadcrumb {
  width: fit-content;
  background-color: hsl(271, 25%, 53%);
}

.breadcrumb li {
  display: inline-block;
  height: 30px;
  padding-top: 5px;
  background-color: transparent;
}

.breadcrumb li+li::before {
  content: ">\00a0\00a0";
  font-size: x-small;
}