/******************************UNIVERSAL******************************/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Oxygen, Helvetica, sans-serif;
  font-weight: 300;
  text-align: center;
  background-color: hsl(240, 75%, 5%);
  color: azure;
}

html, body {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: xx-large;
  margin-top: 25px;
  margin-bottom: 35px;
  text-decoration: underline;
}

h2 {
  margin-top: 40px;
  margin-bottom: 10px;
}

h3 {
  margin-top: 15px;
  margin-bottom: 5px;
  color: hsla(180, 100%, 97%, 70%);
}

h4 {
  background-color: transparent;
  color: slateblue;
  text-align: left;
  font-size: xx-large;
}

aside {
  margin-bottom: 5px;
  font-style: italic;
  color: hsla(180, 100%, 97%, 60%);
  font-size: small;
}

p {
  background-color: hsla(208, 100%, 97%, 0%);
}

.flex-container {
  height: 500px;
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: hsl(245, 76%, 66%);
  margin: 0 auto;
  flex-direction: column;
}

/******************************EM******************************/
.em {
  font-size: 12px;
  height: 250px;
}

.em p:first-child {
  font-size: 1em;
}

.em p:nth-child(2) {
  font-size: 2em;
}

.em p:last-child {
  font-size: 3em;
}

/******************************REM******************************/
.rem {
  height: 250px;
}

.rem p:first-child {
  font-size: 1rem;
}

.rem p:nth-child(2) {
  font-size: 2rem;
}

.rem p:last-child {
  font-size: 3rem;
}

/******************************PERCENT-HW******************************/
.percent-hw div {
  height: 50%;
  width: 75%;
  background-color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
}

/******************************PERCENT-PM******************************/
.percent-pm {
  padding: 5%;
}

.percent-pm div {
  height: 100%;
  width: 100%;
  margin-left: 2%;
  margin-right: 5%;
  background-color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
}

/******************************MIN-MAX******************************/
.min-max {
  resize: both;
  overflow: auto;
}

.min-max div {
  background-color: azure;
  height: 250px;
  min-width: 400px;
  width: 80%;
  max-width: 600px;
  min-height: 300px;
  height: 75%;
  max-height:400px;
}

/******************************IMAGES******************************/
.images {
  height: 500px;
  width: 700px;
  /* overflow: hidden; */ /*Used when the container is not resizable, as in the example*/
  resize: both;
  overflow: auto;
}

.images img {
  max-width: 100%;
  height: auto;
  display: block;
}

/******************************BACKGROUND-IMAGE******************************/