.breadcrumb a {
  text-decoration: none;
}

.breadcrumb a:link {
  color: black;

}

.breadcrumb a:hover {
  color: red;
  text-decoration: underline;
}


.breadcrumb a:active {
  color: green;
}

/* STYLED BREADCRUMB */
.breadcrumb.styled a {
  background-color: hsl(208, 100%, 50%);
  color: aliceblue;
  text-transform: uppercase;
  line-height: 20px;
}

.breadcrumb.styled li+li::before {
  content: "";
}