html, body {
  height: 100%;
  width: 100%;
}

.breadcrumb {
  height: 250px;
  width: 250px;
  margin: 0 auto;
}

.breadcrumb li {
  display: inline-block;
}

.breadcrumb li+li::before {
  content: "> ";
  font-size: small;
}