html, body {
  height: 100%;
  width: 100%;
}

.breadcrumb {
  height: 250px;
  width: 350px;
  margin: 0 auto;
}

/* BASIC BREADCRUMB */
.breadcrumb li {
  display: inline-block;
}

.breadcrumb li+li::before {
  content: ">";
  font-size: small;
}

/* STYLED BREADCRUMB */
.breadcrumb.styled a {
  background-color: hsl(208, 100%, 50%);
}