/******************************UNIVERSAL******************************/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Oxygen, Helvetica, sans-serif;
  font-weight: 300;
  text-align: center;
  background-color: hsl(240, 75%, 5%);
  color: azure;
}

html, body, main {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: xx-large;
  margin-top: 25px;
  margin-bottom: 35px;
  text-decoration: underline;
}

h2 {
  margin-top: 40px;
  margin-bottom: 10px;
}

h3 {
  margin-top: 15px;
  margin-bottom: 5px;
  color: hsla(180, 100%, 97%, 70%);
}

h4 {
  background-color: transparent;
  color: slateblue;
  text-align: left;
  font-size: xx-large;
}

aside {
  margin-bottom: 5px;
  font-style: italic;
  color: hsla(180, 100%, 97%, 60%);
  font-size: small;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#switch {
  border: none;
  height: 50px;
  width: 100px;
  background: hsl(180, 56%, 56%);
  color: hsl(180, 56%, 16%);
  font-weight: bolder;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 25px;
}

#switch:hover {
  background-color: hsl(180, 56%, 36%);
  transition: background-color 100ms;
}

#switch:active {
  background: hsl(180, 56%, 66%);
}

#color {
  height: 500px;
  width: 500px;
  background-color: #fff;
  color: black;
  font-size: xx-large;
  padding-top: 220px;
}