* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}


.box {
  height: 500px;
  width: 500px;
  background-color: grey;
  border-width: 7px;
  border-style: dashed;
}

div:nth-child(1) {
  position: relative;
  background-color: rgb(242, 161, 242);
  border-color: rgb(102, 14, 102);
  left: 500px;
}

div:nth-child(2) {
  position: absolute;
  background-color: rgb(181, 255, 107);
  border-color: rgb(72, 112, 32);
  left: 550px;
}

div:nth-child(3) {
  position: fixed;
  background-color: rgb(107, 144, 255);
  border-color: rgb(22, 49, 132);
  top: 100px;
  left: 1000px;
}

div:nth-child(4) {
  position: sticky;
  background-color: rgb(255, 107, 107);
  border-color: rgb(157, 32, 32);
  top: 10px;
}

div:nth-child(5) {
  position: relative;
  background-color: rgb(242, 171, 84);
  border-color: rgb(183, 110, 21);
  z-index: -1;
}

span:nth-child(6) {
  display: inline;
}

span:nth-child(8) {
  display: inline;
}