/******************************UNIVERSAL******************************/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Oxygen, Helvetica, sans-serif;
  font-weight: 300;
  text-align: center;
  background-color: hsl(240, 75%, 5%);
  color: azure;
}

/******************************FORMATS******************************/
html, body {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: xx-large;
  margin-top: 25px;
  margin-bottom: 35px;
  text-decoration: underline;
}

h2 {
  margin-top: 40px;
  margin-bottom: 10px;
}

.grid {
  height: 600px;
  width: 600px;
  background-color: hsl(245, 76%, 66%);
  margin: 0 auto;
  display: grid;
  padding: 10px;
  gap: 10px;
}

.grid-item {
  background-color: hsl(208, 100%, 86%);
}
/******************************BASIC GRID******************************/
.basic.grid {
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  gap: 10px;
}

.basic.grid > .grid-item:nth-child(2),
.basic.grid > .grid-item:nth-child(8) {
  grid-column: 2 / span 2;
}

.basic.grid > .grid-item:nth-child(4),
.basic.grid > .grid-item:nth-child(6) {
  grid-row: 2 / span 2;
}

.basic.grid > .grid-item:nth-child(5) {
  grid-area: 2 / 2 / span 2 / span 2;
}

/******************************GRID TEMPLATE AREA******************************/
.template {
  grid-template-areas: "header header header header"
                       "main-left main-right main-right main-right"
                       "main-bottom main-bottom main-bottom main-bottom"
                       "footer footer footer footer";
  grid-template-columns: 100px repeat(3, 1fr);
}

.header {
  grid-area: header;
}

.main-left {
  grid-area: main-left;
}

.main-right {
  grid-area: main-right;
}

.main-bottom {
  grid-area: main-bottom;
}

.footer {
  grid-area: footer;
}