/******************************UNIVERSAL******************************/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Oxygen, Helvetica, sans-serif;
  font-weight: 300;
  text-align: center;
  background-color: hsl(240, 75%, 5%);
  color: azure;
}

/******************************FORMATS******************************/
html, body {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: xx-large;
  margin-top: 25px;
  margin-bottom: 35px;
  text-decoration: underline;
}

h2 {
  margin-top: 40px;
  margin-bottom: 10px;
}

h3 {
  margin-top: 15px;
  margin-bottom: 5px;
  color: hsla(180, 100%, 97%, 70%);
}

.grid {
  height: 600px;
  width: 600px;
  background-color: hsl(245, 76%, 66%);
  margin: 0 auto;
  display: grid;
  padding: 10px;
  gap: 10px;
}

.grid-item {
  background-color: hsl(208, 100%, 86%);
}
/******************************BASIC GRID******************************/
.basic.grid {
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  gap: 10px;
}

.basic.grid > .grid-item:nth-child(2),
.basic.grid > .grid-item:nth-child(8) {
  grid-column: 2 / span 2;
}

.basic.grid > .grid-item:nth-child(4),
.basic.grid > .grid-item:nth-child(6) {
  grid-row: 2 / span 2;
}

.basic.grid > .grid-item:nth-child(5) {
  grid-area: 2 / 2 / span 2 / span 2;
}

/******************************GRID TEMPLATE AREA******************************/
.template {
  grid-template-areas: "header header header header"
                       "main-left main-right main-right main-right"
                       "main-bottom main-bottom main-bottom main-bottom"
                       "footer footer footer footer";
  grid-template-columns: 100px repeat(3, 1fr);
}

.header {
  grid-area: header;
}

.main-left {
  grid-area: main-left;
}

.main-right {
  grid-area: main-right;
}

.main-bottom {
  grid-area: main-bottom;
}

.footer {
  grid-area: footer;
}

/******************************GRID OVERLAPPING ELEMENTS******************************/
/* For overlapping elements, grid-area must be used. */
.overlap {
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  gap: 10px;
}

.grid.overlap > .grid-item:first-child {
  grid-area: 1 / 1/ span 4 / span 1;
}

.grid.overlap > .grid-item:nth-child(6) {
  grid-area: 2 / 1 / span 2 / span 2;
  background-color: hsl(0, 60%, 25%);
}

/******************************GRID JUSTIFY-ITEMS******************************/
.grid.justify-items {
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  gap: 10px;
}

.grid.justify-items > .grid-item {
  width: 50px;
  height: 50px;
}

.grid.justify-items.start {
  justify-items: start;
}

.grid.justify-items.center {
  justify-items: center;
}

.grid.justify-items.end {
  justify-items: end;
}

.grid.justify-items.stretch > .grid-item {
  width: auto;
}

.grid.justify-items.stretch {
  justify-items: stretch;
}

/******************************GRID JUSTIFY-CONTENT******************************/
.grid.justify-content {
  grid-template: repeat(4, 100px) / repeat(4, 100px);
  gap: 10px;
}

.grid.justify-content.start {
  justify-content: start;
}

.grid.justify-content.center {
  justify-content: center;
}

.grid.justify-content.end {
  justify-content: end;
}

.grid.justify-content.space-around {
  justify-content: space-around;
}

.grid.justify-content.space-between {
  justify-content: space-between;
}

.grid.justify-content.space-evenly {
  justify-content: space-evenly;
}

.grid.justify-content.stretch {
  grid-template: repeat(4, 100px) / repeat(4, minmax(100px, 500px));
  justify-content: stretch;
}

/******************************GRID ALIGN-ITEMS******************************/

/******************************GRID ALIGN-CONTENT******************************/