/******************************UNIVERSAL******************************/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Oxygen, Helvetica, sans-serif;
  font-weight: 300;
  text-align: center;
  background-color: hsl(240, 75%, 5%);
  color: azure;
}

/******************************FORMATS******************************/
html, body {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: xx-large;
  margin-top: 25px;
  margin-bottom: 25px;
}

/******************************BASIC GRID******************************/
.basic-grid {
  height: 600px;
  width: 600px;
  background-color: hsl(245, 76%, 66%);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.basic-grid .grid-item {
  background-color: hsl(208, 100%, 86%);
  border: 4px dashed cornflowerblue;
}